.hits {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 1rem;

  img {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: contain;
  }
}

.hits>li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.hits strong {

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

* {
  box-sizing: border-box;
}

input {
  padding: 0.5rem;
  margin: 1rem;
  width: 80%;
  font-size: large;
  border: 1px solid #ccc;
  border-radius: 5px;
}