@import 'tailwindcss';

@theme {
  --animate-cart-add: cartAdd 1s ease-out;
  --animate-cart-open: cartAdd 0.5s ease-out;
  --animate-pop: pop 0.3s ease-out;
  --animate-pop-fast: pop 0.15s ease-in;
  --animate-suggestbox: suggestbox 0.3s ease-in-out;
  --animate-facets: facets 0.3s;
  --animate-focus: focus 0.8s ease;

  @keyframes cartAdd {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }

    20% {
      transform: scale(1.1);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes focus {
    0% {
      opacity: 0;
      transform: scale(0.6) rotate(0deg);
    }

    70% {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }

    80% {
      opacity: 1;
      transform: scale(1) rotate(4deg);
    }

    90% {
      opacity: 1;
      transform: scale(1) rotate(-4deg);
    }

    100% {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
  }

  @keyframes facets {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes suggestbox {
    0% {
      opacity: 0;
      transform: scale(1, 0.8) translate(0, -10%);
    }

    100% {
      opacity: 1;
      transform: scale(1, 1) translate(0, 0);
    }
  }

  @keyframes pop {
    0% {
      opacity: 0;
      transform: scale(0.8, 0.8) translate(0, 20%);
    }

    100% {
      opacity: 1;
      transform: scale(1, 1) translate(0, 0);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  @keyframes sticky-shadow {
    0% {
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    }

    10% {
      box-shadow: 8px 0px 20px rgba(0, 0, 0, 0.4);
    }

    100% {
      box-shadow: 8px 0px 20px rgba(0, 0, 0, 0.4);
    }

  }

  /* @view-transition {
    navigation: auto;
  } */

  ::view-transition-product-image(root) {
    isolation: auto;
    mix-blend-mode: multiply;
  }

  ::view-transition-product-name(root) {
    isolation: auto;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    mix-blend-mode: normal;
    animation-duration: 0.5s;
    display: block;
  }

  .product-image {
    width: fit-content;
    transition: all;
    view-transition-name: product-image;
  }

  .product-name {
    width: fit-content;
    transition: all;
    view-transition-name: product-name;
  }

  .scroll-sticky-top {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 1);
    animation: sticky-shadow ease-in forwards;
    animation-timeline: scroll(root);
    animation-duration: auto;
  }


  @keyframes animate-in {
    0% {
      opacity: 0;
      transform: translateY(90px);
    }

    30% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animate-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    70% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(-40px);
    }
  }

  @media(prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: view()) {
      .animating-element {
        animation: animate-in ease-in forwards;
        animation-timeline: view();
        animation-duration: auto;
        animation-range: entry;
      }
    }
  }

  .progress {
    height: 3px;
    background: linear-gradient(to right,
        var(--color-yellow-500) 0%,
        var(--color-green-500) 100%);
    position: fixed;
    top: 0;
    z-index: 20;
    left: 0;
    width: 100%;
    transform-origin: 0 50%;
    animation: scaleProgress auto linear;
    animation-timeline: scroll(root);
  }

  @keyframes scaleProgress {
    0% {
      opacity: 0;
      transform: scaleX(0);
    }

    15% {
      opacity: 1;
    }

    100% {
      transform: scaleX(1);
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #fefefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}